/* .nonactive {
  font-size: 14px;
  font-family: "Kumbh Sans";
  color: #4b4c5f;
  font-weight: 400;
}
.active {
  color: #1e1f36;
  font-size: 14px;
  font-weight: 700;
  font-family: "Kumbh Sans";
}

.spanText {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #787887;
}

.nonactive:hover {
  color: #f47b56;
} */
