/* .card {
  background-color: #ffffff;
  width: 920px;
  height: 509px;
  border-radius: 23px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.leftCardBack {
  position: relative;
  z-index: 1;
}

.leftCardsecondBack {
  position: absolute;
  margin-top: 80px;
  margin-left: -419px;
  z-index: 2;
}

.leftCardsecondBack2 {
  position: absolute;
  margin-top: 200px;
  margin-left: -512px;
  z-index: 3;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 279px;
    height: 355px;
  }
  .leftCardBack {
    width: 237px;
    height: 180px;
  }
} */
